@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #111;
}

body {
  min-width: 290px;
}

:root {
  --colorBoton: rgb(236, 153, 52);
  --colorText:#111;
  --colorHeader: #fff;
  --colorFooter:#008B69;
  --colorBorderFooter:#034837;
}

main {
  background-image: radial-gradient(ellipse, #4d64f8, #64FBD2);
}
main form {
  background-image: radial-gradient(ellipse, #276466, #329C9F);
}

.titulo-h1 {
  background-color: #3498db;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  text-align: center;
}

.titulo-h1:hover {
  background-color: #2980b9;
}

/* CONTENEDOR HEADER */
header {
  position: sticky;
  top: 0;
  z-index: 100;
}

.contenedorHeader {
  display: flex;
  background-color: var(--colorHeader);
  align-items: center;
  justify-content: space-around;
  width: 100%;
  border: 1px solid var(--colorBoton);
}

.contenedorLogo img {
  max-width: 15.62rem;
  filter: invert(1);
}

.contendorBusqueda input {
  width: 33rem;
  height: 2rem;
  border-top-left-radius: 80px;
  border-bottom-left-radius: 80px;
}

.fa-search {
  background-color: var(--colorBoton);
  padding: 0.6rem 0.9rem;
  border-top-right-radius: 80px;
  border-bottom-right-radius: 80px;
  cursor: pointer;
}

.contenedorNav nav ul {
  display: flex;
  list-style: none;
  cursor: pointer;
}
.contenedorNav nav ul li {
  text-decoration: none;
  margin-left: 2rem;
}

.liNav a {
  text-decoration: none;
  font-size: 1.1rem;
  color: var(--colorText);
}
.liNav select {
  border: none;
  font-size: 1.1rem;
}

.navResponsive {
  display: none;
}
.navResponsive .navResponsive:hover {
  padding-left: 7rem;
  background-color: #fff;
  border-radius: 18px 18px 0 0;
}

.navResponsive:hover .ulResponsive {
  display: block;
}

.ulResponsive {
  list-style: none;
  position: absolute;
  margin-left: -7rem;
  margin-top: 1rem;
  z-index: 10;
  background-color: #fff;
  border-radius: 0 0 18px 18px;
  padding: 1rem;
}

/* CONTENEDOR BANNERS */
.contenedorBanners {
  width: 80%;
  margin: 0 auto;
  overflow: hidden;
}
.contenedorBanners ul {
  display: flex;
  padding: 0;
  width: 300%;
  animation: movimiento 20s alternate infinite ease-in-out;
}
.contenedorBanners li {
  width: 100%;
  list-style: none;
  position: relative;
}
.contenedorBanners img {
  width: 100%;
}

@keyframes movimiento {
  0% {
    margin-left: 0;
  }
  30% {
    margin-left: 0;
  }
  40% {
    margin-left: -100%;
  }
  70% {
    margin-left: -100%;
  }
  80% {
    margin-left: -200%;
  }
  100% {
    margin-left: -200%;
  }
}
/* SECCION OFERTAS */
.tituloOfertas {
  text-align: center;
}

.ofertas {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(13rem, 1fr));
  width: 80%;
  margin: 1rem auto;
}

.itenOfertas {
  margin: 0 auto;
}
.itenOfertas img {
  width: 5rem;
  padding: 1rem 1rem 0 1rem;
}
.itenOfertas h3 {
  text-align: center;
}
.itenOfertas h4 {
  text-align: center;
  color: #ffffff;
}
.itenOfertas :hover {
  filter: brightness(1.3);
}

/* CATEGORIAS */
.categorias h2 {
  text-align: center;
  padding-top: 5rem;
  font-size: 3rem;
}

.contenedorCategorias {
  display: grid;
  grid-template-columns: repeat(3, auto);
  width: 80%;
  margin: 0rem auto;
  align-items: center;
}

.categoria-1 {
  padding: 0;
  margin: 2rem auto;
  aspect-ratio: 1;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  transition: 200ms;
}
.categoria-1 img {
  width: 15rem;
}
.categoria-1 h2 {
  padding: 0;
}

.categoria-1:hover {
  translate: 0 -10px;
  box-shadow: 0 10px 5px rgba(0, 0, 0, 0.2);
}

.categoria-2 {
  padding: 0;
  margin: 2rem auto;
  aspect-ratio: 1;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  transition: 200ms;
}
.categoria-2 img {
  width: 15rem;
}
.categoria-2 h2 {
  padding: 0;
}

.categoria-2:hover {
  translate: 0 -10px;
  box-shadow: 0 10px 5px rgba(0, 0, 0, 0.2);
}

.categoria-3 {
  padding: 0;
  margin: 2rem auto;
  aspect-ratio: 1;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  transition: 200ms;
}
.categoria-3 img {
  width: 15rem;
}
.categoria-3 h2 {
  padding: 0;
}

.categoria-3:hover {
  translate: 0 -10px;
  box-shadow: 0 10px 5px rgba(0, 0, 0, 0.2);
}

.categoria-4 {
  padding: 0;
  margin: 2rem auto;
  aspect-ratio: 1;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  transition: 200ms;
}
.categoria-4 img {
  width: 15rem;
}
.categoria-4 h2 {
  padding: 0;
}

.categoria-4:hover {
  translate: 0 -10px;
  box-shadow: 0 10px 5px rgba(0, 0, 0, 0.2);
}

.categoria-5 {
  padding: 0;
  margin: 2rem auto;
  aspect-ratio: 1;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  transition: 200ms;
}
.categoria-5 img {
  width: 15rem;
}
.categoria-5 h2 {
  padding: 0;
}

.categoria-5:hover {
  translate: 0 -10px;
  box-shadow: 0 10px 5px rgba(0, 0, 0, 0.2);
}

.categoria-6 {
  padding: 0;
  margin: 2rem auto;
  aspect-ratio: 1;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  transition: 200ms;
}
.categoria-6 img {
  width: 15rem;
}
.categoria-6 h2 {
  padding: 0;
}

.categoria-6:hover {
  translate: 0 -10px;
  box-shadow: 0 10px 5px rgba(0, 0, 0, 0.2);
}

/* FOOTER*/
footer {
  width: 100%;
  background-color: var(--colorFooter);
  border: 0.2rem solid var(--colorBorderFooter);
  font-size: 1rem;
}

.datosFooter img {
  width: 11.4rem;
  filter: invert(1);
}

.contenedorFooter {
  display: flex;
  justify-content: space-around;
  list-style: none;
  align-items: center;
}

.tituloFooter {
  padding-top: 1.5rem;
  padding-bottom: 1.9rem;
}

.atributoFooter {
  padding-bottom: 0.5rem;
}

.btn--bg--twitter {
  background-color: #55acee;
  border-radius: 18px;
  color: #fff;
  padding: 3px;
}

.btn--bg--facebook {
  background-color: #3a5795;
  border-radius: 18px;
  color: #fff;
  padding: 3px;
}

.btn--bg--instagram {
  background-color: #bf2498;
  border-radius: 18px;
  color: #fff;
  padding: 3px;
}

.btn--bg--youtube {
  background-color: rgb(199, 16, 19);
  border-radius: 18px;
  color: #fff;
  padding: 3px;
}

/* PAGINA ACCESO / REGISTRO */
.formulario-acceso-registro {
  margin: 0 auto;
  width: 60%;
  height: 70vh;
  padding-top: 6rem;
}
.formulario-acceso-registro input {
  margin-bottom: 1rem;
  background-color: var(--colorFooter);
}
.formulario-acceso-registro h1 {
  text-align: center;
}

/* PAGINA CATEGORIAS */
.botones-categorias {
  text-align: center;
}
.botones-categorias button {
  margin: 1rem 1rem;
  padding: 14px 28px;
  background-color: transparent;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  color: #fff;
  font-style: oblique;
  background-color: #039569;
  border-radius: 5px;
  border: none;
}
.botones-categorias button:hover {
  filter: drop-shadow(2px 4px 6px black);
}

.articulosPORSeccion h2 {
  text-align: center;
  margin: 2rem 0;
}

.productos-galletas {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
  padding: 10px;
  width: 80%;
  margin: auto;
  text-align: center;
}
.productos-galletas img {
  aspect-ratio: 1;
  width: 8rem;
}

.btn-responsive-categorias {
  display: none;
}

/* PAGINA CONTACTO */
.imagen-contacto img {
  width: 100%;
  height: 50vh;
}

.direccion h3 {
  font-size: 2rem;
}
.direccion h4 {
  display: inline-block;
  padding-right: 1rem;
  padding-top: 1rem;
  font-size: 1.5rem;
}

.mapaPequeño {
  display: none;
}

.mapa {
  display: flex;
  margin: 2rem 0 2rem 0;
  justify-content: space-around;
  font-size: 1.5rem;
}

.contenedor-formulario {
  text-align: center;
  font-size: 1.5rem;
  max-width: 70%;
  margin: 0 auto;
}
.contenedor-formulario input {
  background-color: var(--colorFooter);
}
.contenedor-formulario textarea {
  background-color: var(--colorFooter);
}
.contenedor-formulario button {
  background-color: #039569;
  border-radius: 18px;
  margin-top: 0.5rem;
  padding: 0.5rem 1rem;
  border: 2px solid var(--colorBorderFooter);
}

.contenedorInputs input {
  border-radius: 18px;
  width: 100%;
  height: 3rem;
  margin-bottom: 1rem;
}
.contenedorInputs input textarea {
  border-radius: 18px;
  width: 100%;
}

/* PAGINA COMPRAS */
.main-compras {
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 1373px) {
  .contendorBusqueda input {
    width: 15rem;
  }
  .contenedorLogo img {
    max-width: 11.62rem;
  }
  .ulResponsive {
    display: none;
  }
}
@media screen and (max-width: 1118px) {
  .contenedorNav {
    display: none;
  }
  .navResponsive {
    display: block;
    padding: 1rem;
  }
  .contenedorCategorias {
    grid-template-columns: repeat(2, auto);
  }
  .contenedorFooter {
    display: block;
    text-align: center;
    padding: 1.5rem 0 1.5rem 0;
  }
  .mapa {
    display: block;
    text-align: center;
  }
}
@media screen and (max-width: 616px) {
  .contenedorHeader {
    display: block;
  }
  .ulResponsive {
    margin-left: 0rem;
    margin-top: 1rem;
  }
  .navResponsive:hover {
    padding-left: 0rem;
    width: 7.87rem;
  }
  .ofertas {
    grid-template-columns: repeat(auto-fill, minmax(9rem, 1fr));
  }
  .contenedorCategorias {
    grid-template-columns: repeat(1, auto);
  }
  .formulario-acceso-registro {
    width: 100%;
  }
  .mapaPequeño {
    display: flex;
    margin: 0 auto;
  }
  .mapaMediano {
    display: none;
  }
  .imagen-contacto img {
    height: 30vh;
  }
  .contenedorInputs input {
    width: 100%;
  }
  .contenedorInputs textarea {
    border-radius: 18px;
    width: 100%;
    height: 5rem;
  }
  .botones-categorias {
    display: none;
  }
  .btn-responsive-categorias {
    display: block;
  }
  .btn-responsive-categorias select {
    background-color: #039569;
    padding: 1rem;
  }
}

/*# sourceMappingURL=style.css.map */
